# =========================================================
# SSH KEYS (IMPORTANT - NEVER PUSH)
# =========================================================
*.pem
*.key

# =========================================================
# TERRAFORM
# =========================================================
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfstate.d/

# Crash logs
crash.log

# =========================================================
# ANSIBLE
# =========================================================
*.retry

# Inventory sensitive (si jamais tu ajoutes des creds)
inventory.ini
inventory.yaml

# =========================================================
# OS FILES
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# EDITORS
# =========================================================
.vscode/
.idea/

# =========================================================
# LOGS
# =========================================================
*.log
