# =========================================================
# SSH KEYS (NEVER PUSH)
# =========================================================
*.pem
*.key

# =========================================================
# TERRAFORM
# =========================================================
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
terraform.tfstate.d/

# ⚠️ Lock file (TP / projet perso → ignoré ici)
.terraform.lock.hcl

# =========================================================
# ANSIBLE
# =========================================================
*.retry

# Inventories locaux (optionnel mais recommandé)
hosts.ini
inventory.ini
inventory.yaml

# =========================================================
# SYSTEM FILES
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# EDITORS / IDE
# =========================================================
.vscode/
.idea/

# =========================================================
# LOG FILES
# =========================================================
*.log